@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Roboto&display=swap');
body {
	margin: 0;
	background: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
  margin: 0 auto;
}

header {
  background: #555555;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Redressed";
  color: #f6f6f6
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #f6f6f6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #f6f6f6;
}

.hover-bar::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #f6f6f6;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.hover-bar:hover::before {
  width: 100%;
}

/* Navigation Bar Buttons */

.button1{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 2px;
  text-transform: uppercase;
 }
.button2{
  background-color: #696969;
  border: white;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 2px;
  transition-duration: 0.4s;
  text-transform: uppercase;
  border: 2px solid white;
}

.button1:hover {
  background-color: #228B22;
  color: white;
}

.button2:hover {
  background-color: #1E1D1D;
  color: white;
 }


 /* Page Content */

 @media(min-width:468px){
  .container { 
    display: flex;
    }
  }
  .red > div {
      margin: 1px;
  }
  .red {
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    flex:3;
  }
  .green {
    display:flex;
  }
  .blue {
    display: flex;
  }
  .white {
    display: flex;
  }
  .container div {
    font-size: 12px;
    padding: .5em;
    color: black;
  }
  .yellow{
     background:#B2BEB5 ; 
     flex: 1;
     margin-top: 30px;
  }
  #box-1{
      background-color: #B2BEB5;
      flex:1;
  }
  #box-2{
      background-color: #B2BEB5;
      flex:3;
  }

#second_headers {
  margin: 0px;
  font-weight: 50;
}
.button_box{
  background-color: white;
  border: #228B22;
  color: black;
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 2px;
  transition-duration: 0.4s;
  border: 2px solid #228B22;
}
.button_box:hover {
  background-color: #228B22;
  color: white;
 }